<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FaderBottom.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {64, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{64, 40}</string>
			<key>spriteSourceSize</key>
			<string>{64, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{833, 180}, {64, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FaderTop.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {64, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{64, 80}</string>
			<key>spriteSourceSize</key>
			<string>{64, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{833, 98}, {64, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>backButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {79, 46}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{79, 46}</string>
			<key>spriteSourceSize</key>
			<string>{81, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{833, 2}, {79, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>backButtonSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {69, 46}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{69, 46}</string>
			<key>spriteSourceSize</key>
			<string>{81, 46}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{833, 50}, {69, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dummyButton1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{14, 21}, {258, 45}}</string>
			<key>spriteOffset</key>
			<string>{3, -3}</string>
			<key>spriteSize</key>
			<string>{258, 45}</string>
			<key>spriteSourceSize</key>
			<string>{280, 81}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{538, 749}, {258, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dummyButton1Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{10, 10}, {324, 138}}</string>
			<key>spriteOffset</key>
			<string>{5, -5}</string>
			<key>spriteSize</key>
			<string>{324, 138}</string>
			<key>spriteSourceSize</key>
			<string>{334, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 706}, {324, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dummyButton2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 47}, {328, 52}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{328, 52}</string>
			<key>spriteSourceSize</key>
			<string>{334, 148}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 695}, {328, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dummyButton2Selected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{17, 16}, {535, 154}}</string>
			<key>spriteOffset</key>
			<string>{-25, -4}</string>
			<key>spriteSize</key>
			<string>{535, 154}</string>
			<key>spriteSourceSize</key>
			<string>{619, 178}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 550}, {535, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>iTraceurOptionsCaption.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 55}</string>
			<key>spriteSourceSize</key>
			<string>{208, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 706}, {208, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>listBigLogoRight.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {282, 449}}</string>
			<key>spriteOffset</key>
			<string>{-6, -1}</string>
			<key>spriteSize</key>
			<string>{282, 449}</string>
			<key>spriteSourceSize</key>
			<string>{300, 451}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 2}, {282, 449}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>listButton.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {334, 48}}</string>
			<key>spriteOffset</key>
			<string>{1, 7}</string>
			<key>spriteSize</key>
			<string>{334, 48}</string>
			<key>spriteSourceSize</key>
			<string>{338, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 645}, {334, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>listButtonSelected.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {334, 64}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{334, 64}</string>
			<key>spriteSourceSize</key>
			<string>{338, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{539, 579}, {334, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>listMenuCaption.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {206, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{206, 45}</string>
			<key>spriteSourceSize</key>
			<string>{208, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 763}, {206, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>rightBigLogo.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{7, 2}, {545, 546}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{545, 546}</string>
			<key>spriteSourceSize</key>
			<string>{559, 560}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {545, 546}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>topCaption.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {423, 124}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{423, 124}</string>
			<key>spriteSourceSize</key>
			<string>{435, 130}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 453}, {423, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>